In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql mysql+mysqldb://root:admin@localhost/

In [7]:
%%sql
DROP DATABASE IF EXISTS STORE;
CREATE DATABASE STORE;
USE STORE;

create table customer (
  cid int NOT NULL AUTO_INCREMENT,
  email varchar(50),
  phoneNo varchar(25), 
  address varchar(100),
  username varchar(50),
  password varchar(200),
  name varchar(50),
  dateOfBirth date,
  primary key (cid)
);

create table discount (
  code varchar(10),
  cid int,
  amount int,
  startDate date,
  endDate date,
  primary key (code,cid),
  foreign key (cid) references customer(cid) on delete cascade on update cascade
);

create table feedback (
  feedbackid int,
  cid int,
  category varchar(50),
  content varchar(250),
  primary key (feedbackid),
  foreign key (cid) references customer(cid) on delete cascade on update cascade
);

create table sale (
  saleid int NOT NULL AUTO_INCREMENT,
  amount int,
  startDate date,
  endDate date,
  primary key (saleid)
);

create table designer (
  designerid int,
  name varchar(50),
  bio TEXT, # desc is a reserved word
  website varchar(100),
  primary key (designerid)
);

create table product (
  pid int NOT NULL AUTO_INCREMENT,
  name varchar(50),
  stock int,
  type varchar(20),
  size varchar(4),
  price float,
  saleid int,
  designerid int,
  addDate date,
  image varchar(255),
  primary key (pid),
  foreign key (saleid) references sale(saleid) on delete cascade on update cascade,
  foreign key (designerid) references designer(designerid) on delete cascade on update cascade
);

create table review (
  pid int,
  cid int,
  rating int,
  comment varchar(250),
  date date,
  primary key (pid, cid),
  foreign key (pid) references product(pid) on delete cascade on update cascade,
  foreign key (cid) references customer(cid) on delete cascade on update cascade
);

create table color (
  pid int,
  color varchar(10),
  primary key (pid, color),
  foreign key (pid) references product(pid) on delete cascade on update cascade
);

create table category (
  pid int,
  category varchar(20),
  primary key (pid, category),
  foreign key (pid) references product(pid) on delete cascade on update cascade
);

create table cart ( # order is a reserved word
  cartid int NOT NULL AUTO_INCREMENT,
  totalPrice float null default 0.0,
  cid int,
  date date,
  shipCost float,
  status varchar(50),
  primary key (cartid),
  foreign key (cid) references customer (cid) on delete cascade on update cascade
);

create table favourite (
  pid int,
  cid int,
  primary key(pid,cid),
  foreign key (pid) references product(pid) on delete cascade on update cascade,
  foreign key (cid) references customer(cid) on delete cascade on update cascade
);

create table addedto (
  pid int,
  cartid int,
  quantity int,
  primary key(pid,cartid),
  foreign key (pid) references product(pid) on delete cascade on update cascade,
  foreign key (cartid) references cart(cartid) on delete cascade on update cascade
);

 * mysql+mysqldb://root:***@localhost/
12 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
(MySQLdb.OperationalError) (1065, 'Query was empty')
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [8]:
%%sql
CREATE TRIGGER calcTotalPrice1
AFTER INSERT ON addedto
FOR EACH ROW
BEGIN
    UPDATE cart
    SET totalPrice = totalPrice + (
        select price from product
        where product.pid = new.pid
    )*new.quantity where cartid = new.cartid;
END;

CREATE TRIGGER calcTotalPrice2
AFTER UPDATE ON addedto
FOR EACH ROW
BEGIN
    UPDATE cart
    SET totalPrice = totalPrice + (
        select price from product
        where product.pid = new.pid
    )*new.quantity - (
        select price from product
        where product.pid = old.pid
    )*old.quantity
    where cartid = new.cartid;
END;

CREATE TRIGGER calcTotalPrice3
AFTER DELETE ON addedto
FOR EACH ROW
BEGIN
    UPDATE cart
    SET totalPrice = totalPrice - (
        select price from product
        where product.pid = old.pid
    )*old.quantity where cartid = old.cartid;
END;

 * mysql+mysqldb://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
(MySQLdb.OperationalError) (1065, 'Query was empty')
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [9]:
%%sql
CREATE TRIGGER setSale
BEFORE UPDATE ON product
FOR EACH ROW
BEGIN
    IF new.saleid is not null and old.saleid is not null
    and old.saleid <> new.saleid THEN # sale a to sale b
        SET new.price = old.price / (100 - (
            select amount from sale
            where sale.saleid = old.saleid
        )) * (100 - (
            select amount from sale
            where sale.saleid = new.saleid
        ));
    ELSEIF new.saleid is not null and old.saleid   is null THEN # no sale to sale
        SET new.price = new.price - new.price / 100 * (
            select amount from sale
            where sale.saleid = new.saleid
        );
    ELSEIF new.saleid  is null and old.saleid is not null THEN # sale to no sale
        SET new.price = new.price * 100 /(100-(
            select amount from sale
            where sale.saleid = old.saleid
        ));
    END IF;
END;

 * mysql+mysqldb://root:***@localhost/
0 rows affected.
(MySQLdb.OperationalError) (1065, 'Query was empty')
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
%%sql
CREATE TRIGGER setStock1
AFTER INSERT ON addedto
FOR EACH ROW
BEGIN
    UPDATE product
    SET stock = stock - new.quantity where product.pid = new.pid;
END;

CREATE TRIGGER setStock12
AFTER UPDATE ON addedto
FOR EACH ROW
BEGIN
    UPDATE product
    SET stock = stock - new.quantity + old.quantity where product.pid = new.pid;
END;

CREATE TRIGGER setStock3
AFTER DELETE ON addedto
FOR EACH ROW
BEGIN
    UPDATE product
    SET stock = stock + old.quantity where product.pid = old.pid;
END;

 * mysql+mysqldb://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
(MySQLdb.OperationalError) (1065, 'Query was empty')
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="store"
)

mycursor = mydb.cursor()
f = open("inserts.txt", "r")
for x in f: 
  mycursor.execute(x[:len(x)-2])
f.close()
mydb.commit()
mycursor.close()

True

usernames & passwords:

<br>"elliecremin","elliecremin737"
<br>"catherinamoen","catherinamoen442"
<br>"hanswolf","hanswolf217"
<br>"elnoraferry","elnoraferry861"
<br>"patsyhauck","patsyhauck297"
<br>"caryrogahn","caryrogahn963"
<br>"margaritocarter","margaritocarter801"
<br>"jewellhowell","jewellhowell195"
<br>"tracihessel","tracihessel566"
<br>"jcoconnell","jcoconnell407"
<br>"test","test"
<br>"a","a"

In [17]:
%%sql
select * from addedto,cart where addedto.cartid = cart.cartid and cid = 5

 * mysql+mysqldb://root:***@localhost/
5 rows affected.

[(28, 21, 4, 21, 619.3, 5, datetime.date(2023, 4, 4), 0.0, 'Out for delivery'),
 (208, 21, 2, 21, 619.3, 5, datetime.date(2023, 4, 4), 0.0, 'Out for delivery'),
 (253, 21, 1, 21, 619.3, 5, datetime.date(2023, 4, 4), 0.0, 'Out for delivery'),
 (28, 23, 3, 23, 377.4, 5, None, None, None),
 (223, 23, 3, 23, 377.4, 5, None, None, None)]